@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar cho danh sách bài tập */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #475569;
}